{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="col-8 offset-2">

    <h1 class="text-center">{{ title }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    
    <input type="submit" class="btn btn-info" value="Enregistrer" />
    {{ form_end(form) }}
</div>
{% endblock %}
