{% extends 'base.html.twig' %}

{% block body %}
<div class="col-10 offset-1">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur voluptas, earum, vel omnis commodi assumenda itaque quam dicta, tempore doloribus libero, veritatis consequuntur modi officia accusantium cupiditate molestias totam.</p>
    
    <p class="alert alert-success text-center">{{ proverbe }}</p>
</div>
{% endblock %}
