{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">Mentions Legales</h1>
    <p>
        Pellentesque dictum posuere lacinia. Cras id purus est. Integer metus magna, aliquet non nibh a, aliquam vehicula nisl.
        In sit amet urna purus. Nunc vitae tristique diam. Nunc accumsan semper aliquet. Donec pharetra lectus vitae accumsan
        maximus. Phasellus consectetur ac lorem eu luctus. Etiam vel lacinia nisl, id lobortis metus. Nulla massa tellus,
        aliquam ac felis sed, tincidunt eleifend diam. Curabitur mollis purus velit. Quisque lobortis ut nibh quis pulvinar.
        
        Suspendisse finibus maximus semper. Pellentesque ut nisl varius, rhoncus enim a, efficitur lorem. In sapien libero,
        malesuada at enim quis, dictum gravida tellus. Nullam sed lectus non nibh porta accumsan sed in nibh. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. In hac habitasse
        platea dictumst. Vivamus ipsum urna, tempor ut orci in, fermentum tristique nulla. Aenean vitae eros in neque bibendum
        efficitur in ac tortor.
        
        Aliquam molestie ex nulla, id porta orci tincidunt a. Morbi laoreet, turpis non auctor venenatis, nulla velit rhoncus
        velit, vel ultrices tellus est sagittis odio. Etiam id massa enim. Curabitur id eros at neque accumsan molestie vehicula
        at felis. Donec faucibus velit nunc, nec ultricies est congue aliquam. Integer ultrices gravida ipsum, in blandit mi
        efficitur eget. Vestibulum finibus congue orci a cursus. Phasellus hendrerit justo eu convallis blandit. Fusce et
        maximus nisl. Duis placerat, orci et vestibulum porta, nisi nunc rutrum diam, nec pretium mi tortor vitae neque. Donec
        sit amet luctus sem, nec tristique magna. Morbi ac ultricies tellus. Suspendisse id diam eu ante semper eleifend.
        
        Integer dapibus libero nec tellus tempor, vitae viverra massa pretium. Pellentesque tempor leo purus, sit amet eleifend
        nunc dictum eu. Nulla efficitur mauris nibh, consequat dictum magna molestie in. Quisque facilisis pharetra urna, vitae
        consectetur urna pulvinar at. Integer suscipit volutpat ligula vel luctus. Etiam cursus orci ipsum, id tincidunt elit
        elementum at. Suspendisse erat velit, convallis vel hendrerit sit amet, viverra nec est. Pellentesque sed quam sit amet
        quam rutrum condimentum in at tellus. Etiam ultricies augue nec elementum ornare. Fusce tristique quam quis ex aliquet,
        id varius dui volutpat.
        
        Integer sed consectetur nibh. Aenean faucibus felis nisl, sed ullamcorper ex cursus ac. Fusce vitae risus non leo luctus
        ultricies eget et nisl. Vestibulum gravida, est sed rhoncus suscipit, sem arcu hendrerit felis, eget tempus est libero
        in sapien. Curabitur tristique condimentum felis at suscipit. Duis nec diam ligula. Ut semper ante et lacinia tempus.
        Nunc sed libero pulvinar, finibus turpis eget, gravida sapien. Suspendisse id eleifend nibh. Sed vel rhoncus magna. Nam
        semper ipsum eget ante vehicula dictum. Vivamus fringilla nisl sed ipsum maximus vulputate. Donec tristique luctus enim,
        vitae molestie arcu sollicitudin ut. Integer sed orci pretium, vehicula nisi sed, lacinia diam.
    </p>
{% endblock %}